.autoenv.zsh
bin
secrets.properties

# Eclipse
.classpath
.project
.settings/
eclipse/org.eclipse.core.resources.prefs
eclipse/org.eclipse.ltk.core.refactoring.prefs
eclipse/org.eclipse.wst.validation.prefs

# Maven
target/

# Vagrant
.vagrant/
